
<section class="dashboard">
    <nav class="nav-dashboard">
        <p>{{fullName}} Dashboard Worker</p>
        <div>
            <span><img src="/images/avatar.png" alt="avatar"></span>
            <a href="/authWorker/worker-profile-edit">Edit Profile</a>
            <button class="close-session">log out</button>
        </div>
    </nav>
    <div id="map"></div>
    <div class="dashboard-content worker-dasboard">
        <div class="resume-offerts">
            <span>Resume Offerts</span>

            {{#each services }}
            <li>
                <a href="/services/details/{{_id}}"><strong><p>Service Type:</p></strong> {{serviceType}}<br><p>Address:</p>{{address}} <p>Client:</p>  {{client.fullName}}</a>
                {{!-- <a href="/services/delete?id={{id}}" class="btn">Cancel</a>  --}}
            </li>
            {{/each}}
        </div>
        <div class="worker-active-offerts">
            <span>Active offerts</span>
            {{#each appliedServices }}
            <li>
                <a href="/services/details/{{_id}}"><strong><p>Service Type:</p></strong> {{serviceType}}<p>Address:</p>{{address}} Client: {{client}}</a>
                <a href="/services/delete?id={{id}}" class="btn">Cancel</a> 
            </li>
            
            {{/each}}
        </div>
        
    </div>


</section>







