<h1>Detalles del servicio</h1>


<h2>{{title}}</h2>
 
 
 <p>Descripcion: {{description}}</p>
        
<p>Direccion: {{address}}</p>

<p>Codigo postal: {{postcode}}</p>

<p>Tipo de servicio: {{serviceType}}</p>
        
<p>Cliente: {{client.fullName}}</p>

<p>Candidatos: {{candidates.0.fullName}}</p>

<p>Trabajador: {{worker}}</p>


<p>Estado del servicio: {{status}}</p>

<a href="/services/edit?={{id}}">Editar</a>
